{%  load staticfiles %}
<!DOCTYPE html>
<html lang="en">
...
<link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
>

<head>
    <meta charset="utf-8">
    <title>{% block title %} Beilei Blog{% endblock title %}</title>
    <!--refer to boostrap.css-->

    <style type="text/css">
        body{
            padding-top:0;
            padding-bottom:25px
            }
    </style>
    <link ref="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>



<body>
    {% include 'header.html' %}
    <!--content index -->


    {% block content %}{% endblock content %}

    <!--footpage-->
    {%  include 'footer.html' %}
</body>

</html>

