{% load static %}
<!--nav bar -->
<!-- templates/base.html -->
    <div class="head-container">
        <img class="personal-pic" src="{% static "image/blog-header.jpg"%}" alt="tb" style="width:100%;">
        <div class="blog-head-text">
            <h1>BEILEI BLOG </h1>

            <p><i class="fas fa-tv"></i> try something you do not know ... </p>
            <p>“I believe the best way to learn is by doing. I have a Data Science Degree and familiar with multiple programming language."</p>
            <p>I am looking for an opportunity to grow.</p>
        <button class="post-button"> Hire Me</button>
    </div>
    </div>

