{% load staticfiles %}
<!-- Footer -->

<footer id="footer" class = "main-footer">

            <h5 class="widget-title"><i class="far fa-address-card"></i>PERSONAL CONTACT INFORMATION:</h5><span></span></h5>

            <div class="footer-container">
                <ul>
                    <li>Email address: beileitang@cmail.carleton.ca</li>
                    <li>Current location: Ottawa, Ontario, Canada</li>
                    <li>Personal experience:</li>
                </ul>
            </div>
            <div class="footer-copyright">
                        <div class="col-md-12 text-center">
                             <p class="b">  Copyright Beilei_Tang @ 2019. All rights reserved</p>
                        </div>
            </div>
</footer>