{% load static %}
<!--nav bar -->
<!-- templates/base.html -->

    <div class="head-container">
        <img class="personal-pic" src="{% static "image/tb.JPG"%}" alt="tb" style="width:100%;">
        <div class="head-text">
            <h1>I Am Beilei Tang </h1>
                 <p>It’s a great, big world out there with billions and billions of people, who each day live their life and have their own unique experiences.</p>
         <a href="/blog/blog_post/"><button> About Me</button></a>
    </div>
    </div>


