{% extends "base_generic.html" %}

{% block content %}
  <h1>Beilei's Blog</h1>
  <p></p>
  <h2>Do you want to know about Me?</h2>
  <p></p>
 <div class="complete">
  <p>Blogs: {{ num_blogs }}</p>
</div>

 <div class="complete">
  <p>Author: {{ num_authors  }}</p>
</div>

    <div class="complete">
      <p>Category: "None"</p>
    </div>

     <div class="complete">
      <p>Picture: "None"</p>
    </div>

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


{% endblock %}

