{% extends "base_generic.html" %}

{% block content %}
<p class="main">
  <h1 class="main_page_category"></h1>
    <!--personal picture-->

 <div class="main-container">
  <i class="fas fa-folder-open"></i>
  <ul>
      <li> Blogs: {{ num_blogs }}</p></li>
            <a class="nav-link" href="/blog/blog_content">articles</a>
      <li> Author: {{ num_authors  }}</p></li>
            <a class="nav-link" href="/blog/blog_content">Background</a>
      <li>Category: </li>
             <a class="nav-link" href="/blog/blog_content">Project</a>
  </ul>
    <!--<img class="myphoto" src="paris.jpg" width="400" height="300">-->
 </div>

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</p>
{% endblock %}

