{% extends "blog_base.html" %}
{% load staticfiles %}


{% block content %}


    <div class="post-topnav">
        <a href="/blog/">Home Page</a>
        <a href="/project/">Project</a>
        <a href="/resume/">Resume</a>
    </div>

<div class="resume-page">

    <p class="resume-content">

    <ul>
        <li>Beilei Tang |
        Cell: 1-(819)-329-9113 | Email: beileitang@cmail.carleton.ca</li>
        <li><a href="https://www.linkedin.com/in/beilei-tang-88828a146/">Linkedin</a></li>
        <li><a href="https://beileitang.github.io">Github Profile</a></li>
    </ul>

    </p>
    <ul>
    <h3>SUMMARY OF QUALIFICATIONS</h3>

    <li>Motivated young professional with innovative thinking, creative problem solving, and strong data analytics skills</li>
    <li>Exceptional learning abilities with quick adaptation to new concepts, business logistics, and technologies</li>
    <li>Proficiency in database operations, data analytics, reporting, and visualization using MS Office Suite and BI platforms</li>
    <li>Strong problem-solving programming ability using Python, Machine Learning in business analytics</li>
    <li>Exceptional communication and interpersonal skills cultivated from team collaboration and client-facing experiences</li>


    <h3>TECHNICAL PROFICIENCIES</h3>

    <li>Quantitative/Analytics/Data: STATA, Matlab, SQL/SQLite, Oracle, CSS, HTML</li>
    <li>Microsoft Office Suite: Word, PowerPoint, Access, Excel (Advanced functions, formulas, visualization features)</li>
    <li>Programming Skill: over 2 years’ working experience in using Python (Numpy, Pandas, Spyder, Scikit-learn, Tensorflow etc.)
        in developing scalable analytical applications including data cleansing, modelling and interpretation</li>
    <li>Programming Skill: Familiarity with using MySQL and MS Access in database design and SQL</li>

    <h3>WORKING RELATED EXPERIENCES<h4>

        <h4>Data Scientist Intern, CITIC Securities Co., Ltd., Shenzhen, China                                                   Apr 2018 – Aug 2018</h4>

    <li> Imported the Accounting/Financial reports from enterprise APIs, cleaned & formatted the data for further analysis</li>
    <li> Filled the analysis models with operating data by different industry and evaluate the running status of companies and help the decision-making process of execution committee board</li>
    <li> Improve the performance of current analysis model based on different industries with the guidance of senior data scientist by trying various regression models and different variables</li>
    <li> Communicated with teams of other departments and external stakeholders to clarify the generated analysis reports and its potential risk</li>
    <h3>PROJECT EXPERIENCES</h3>

        <h4>Create Blog Website                                                                                                                       Sep 2015 – Dec 2015</h4>
<h5>Technologies & Tools: Python (Django, bootstrap, CSS, HTML)</h5>
<li>Contributed to design and development of personal blog website of client and server database application.</li>
<li>Maintained and updated HTML/CSS templates on a regular basis and as needed.</li>
<li>Conducted layout design and construction.</li>

        <h4>Credit Default Analyzing using Support Vector Machine and Logistic Regression                        Sep 2018 – Apr 2019</h4>
<h5>Technologies & Tools: Python (pandas, numpy, matplotlib, seaborn, scikit-learn), SQL and Jupyter</h5>
<li>Imported and preprocessed the raw data to panda DataFrames includes operations like data formatting, refilling null or missing values and filtering unrelated perceptions etc.</li>
<li>Used methodologies of logistic regression and Support Vector Machines (SVM) with cross validation and trained the data with Scikit-learn to build the models which some results are beyond expectation</li>
<li>Compared the results generated by the models generated and validated the accuracy by the usage of confusion matrix which is not really satisfied
<li>Extracted more data from raw materials to train the models since the amount of data is limited, tried setting a threshold to enlarge the data set for training and the improved ones produce more convincing results</li>
        <h4>Face Recognition and Gender Classification with K-Nearest-Neighbors (K-NN)                           Sep 2018 – Apr 2019</h4>
        <h5>Technologies & Tools: Python (pandas, numpy, seaborn, scikit-learn, keras)</h5>
<li>Preprocessed and classified the data into training, validation and test suites
<li>Used the color bit information of actors/actress as perception and its corresponding names and gender as labels</li>
<li>Applied K-NN classification algorithm to training process upon the training data set, constructed the model and validated the performance with test set and the performance is fairly even</li>
<li>Improved the correctness of the system by enlarging & purifying the training set and reached a rate of 92%</li>
<h3>EDUCATION</h3>

        <h4>M.Sc. in Economics Specialization in Data Science, Carleton University, Ottawa, ON                   Sep 2018 - Jun 2019</h4>
        <h4>B.Sc. Honors degree in Economics, Carleton University, Ottawa, ON                                              Sep 2014 - Apr 2018</h4>
        <li>Major CGPA: 10/12</li>
        <li>2014 Carleton University Entrance Scholarship</li>
    </ul>
</p>


    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</div>
{% endblock content %}