html{
  position: relative;
  min-height: 100%;
}

.main-footer{
  font-style: oblique;
  background: #000000;
  padding-top: 5px 0;
  padding-bottom: 14px;
  border-top: 3px solid #337ab7;
  width:100%;
}
.footer-container{
  color:#f1f1f1;
  font-size: 14px;
}
/*copyright*/
.footer-copyright{
  background: #000000;

}
.footer-copyright p.b{
    color: #f1f1f1;
    margin: 1px 0 0;
    right: 10%
    font-style: oblique;
    position: absolute;
}

footer .widget-title{
  color:#f1f1f1;
  font-size: 14px;
}
